.container {
    width: 100% !important;
    height: 100% !important;
    background-image: url("/basketball.png");
    background-size: cover;
    background-repeat: no-repeat;
    

    & p {
        color: #fff;
    }
}

.card {
    scale: calc(0.9);
    background-color: #2e2e2e;
    padding: 26px;
    border-radius: 10px;

    & .icon svg {
        padding: 6px;
        border-radius: 10px;
        background-color: #2699ef;

    }

    & .icon h3 {
        color: #fff;
    }

}