.styledButton {
    border-radius: 18px;
    box-sizing: border-box;
    min-width: 6em;
    min-height: 2em;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);

    &.primary {
        background-color: #2699ef;
        color: #fff;
    }
    &:hover {
        background-color: #2e2e2e;
        color: #fff;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &.secondary {
        background-color: #111827;
        color: #fff;
    }
}