.stats__table {
    background-color: var(--component-color);
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    z-index: 100;
    color: var(--text-color);
    
    & thead {
        background-color: #808080;
        border-radius: 10px;
    }
}