.container {
    button {
        color: var(--text-color);
    }
}

.card {
    margin-left: -18px;
    scale: calc(0.9);
    background-color: #2e2e2e;
    width: 32em;
    padding: 2px;
    border-radius: 10px;

    & .icon svg {
        padding: 6px;
        border-radius: 10px;
        background-color: #2699ef;

    }

    & .icon h3 {
        color: #fff;
    }

    & .articleImage {
        width: 100%;
        border-radius: 10px;
    }

}